---
title: "Formulas - Ionic Framework"
body_css: "formulas"
---

%header.cover
  %h1 Formulas
  %p.cta-sub
    Written tutorials and how-to's on building hybrid apps with Ionic. Read at your own pace. Follow along and test in the
    %a{href: "https://github.com/driftyco/ionic-learn/issues/new"} Scratchpad.
.formulas
  - formula_categories.each do |category|
    %header
      %h3=category
    .list
      - related_formulas(category).each do |formula|
        = render "formula", formula: formula
    %footer
      %a{href: category_path(category) } View all #{category} Formulas
