---
layout: full
title: "Learn Ionic Framework"
body_css: "home"
limit: 3
extra_class: [hide-top-separator]
---

%header.cover
  %h1 Become an Expert with Ionic Framework!
  %p.cta-sub
    Learn Ionic with easy-to-follow videos, tutorials, and formulas built and maintained directly by the core team. Want us to cover a topic?
    %a{href: "https://github.com/driftyco/ionic-learn/issues/new"} Suggest one!
  %img{src: "/img/learn-illustration@2x.png", width: "886", height: "328", alt: "Learn Ionic Framework"}

%section.recent.videos
  %header
    %h2 Recent Videos
  .list
    - videos.first(3).each do |video|
      = render "video", video: video

%section.recent.formulas
  %header
    %h2 Recent Formulas
  .list
    - formulas.first(3).each do |formula|
      = render "formula", formula: formula
