---
titles: ['Resources']
---

%header.cover.resource-header
  %h1 Resources
  %p.cta-sub
    A reservoir of helpful resources to help you optimize your Ionic development experience. Think we should add something?
    %a{target: :blank, href: "https://github.com/driftyco/ionic-learn/issues/new"} Suggest it!

- resource_categories.each do |category|
  .category
    %header
      %h3=category
    .resources
      - resources_for_category(category).each do |resource|
        =resource.compiled_content
