---
titles: ["Talks"]
body_css: "talks"
---

%header.cover
  %h1 Talks
  %p.cta-sub Learn about Ionic through a series of slides and talks given at conferences, user groups, and other events.
.videos
  .list
    .item.row
      .preview
        %a{href: 'http://www.youtube.com/watch?v=3Sfp7EulT_c', target: :blank}
          %img{alt: "Video Icon", height: "58", src: "/img/video-icon-lg@2x.png", width: "58"}/
      .summary
        %h3
          %a{href: 'http://www.youtube.com/watch?v=3Sfp7EulT_c', target: :blank} The Ionic Framework
        %p.subhead
          Jeremy Wilken
          | Beginner
          | Video
    .item.row
      .preview
        %a{href: 'https://www.youtube.com/watch?v=E59G0HZoW2w', target: :blank}
          %img{alt: "Video Icon", height: "58", src: "/img/video-icon-lg@2x.png", width: "58"}/
      .summary
        %h3
          %a{href: 'https://www.youtube.com/watch?v=E59G0HZoW2w', target: :blank} Going Hybrid Mobile with Ionic and AngularJS
        %p.subhead
          Gerred Dillon
          | Beginner
          | Video
    .item.row
      .preview
        %a{href: 'http://slides.com/yacinerezgui/ionic-framework-phonegap-london#/', target: :blank}
          %img{alt: "Video Icon", height: "58", src: "/img/video-icon-lg@2x.png", width: "58"}/
      .summary
        %h3
          %a{href: 'http://slides.com/yacinerezgui/ionic-framework-phonegap-london#/', target: :blank} Ionic - The BADASS HTML5 Mobile Framework
        %p.subhead
          Yacine Rezgui
          | Introductory
          | Slides
    .item.row
      .preview
        %a{href: 'https://www.youtube.com/watch?v=zAWXxr931lg', target: :blank}
          %img{alt: "Video Icon", height: "58", src: "/img/video-icon-lg@2x.png", width: "58"}/
      .summary
        %h3
          %a{href: 'https://www.youtube.com/watch?v=zAWXxr931lg', target: :blank} Ionic Framework
        %p.subhead
          Max Lynch
          | Beginner
          | Video
    .item.row
      .preview
        %a{href: 'https://www.youtube.com/watch?v=8pIbCJUY4eU&feature=youtu.be', target: :blank}
          %img{alt: "Video Icon", height: "58", src: "/img/video-icon-lg@2x.png", width: "58"}/
      .summary
        %h3
          %a{href: 'https://www.youtube.com/watch?v=8pIbCJUY4eU&feature=youtu.be', target: :blank} Ionic Framework Tutorial - Simple TODO App
        %p.subhead
          Akhilesh Srivastava
          | Beginner
          | Video
