---
title: "Videos - Ionic Framework"
body_css: "videos"
---

%header.cover
  %h1 Videos
  %p.cta-sub Follow along our step-by-step video tutorials, guides, and demos to help you up and running quickly. Videos come with relative code snippets, transcripts, and more in the Notes.
.videos
  - video_difficulties.each do |difficulty|
    %header
      %h3=difficulty.capitalize
    .list
      - related_videos(difficulty).each do |video|
        = render "video", video: video
    %footer
      %a{href: difficulty_path(difficulty)}
        %span View all #{difficulty.capitalize} Formulas
        %i.ion-chevron-right
