%script{src: "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"}
%script{src: "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"}
%script{src: "//scratch.ionicsdk.com/static/js/embed.js"}
=content_for @item, :javascripts
