!!! 5
%html{lang: "en"}
  %head
    =render "meta_tags"
    %title=[@item[:titles], "Learn Ionic"].flatten.compact.join(' | ')
    %link{rel: "stylesheet", href: @items['/css/site/'].path}
    %link{rel: "stylesheet", href: "//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css"}

  %body.full-page.no-js{class: @item[:body_css]}
    :javascript
      document.body.classList.remove('no-js');

    .container
      .row
        .side-nav=render "navigation"
        .main-pane~yield
      %footer.main
        %span.attribution &copy; 2014 Drifty Co.
        %span.expand-wrapper
          %span.expand
        %nav
          %a{href: "#"} Privacy
          %a{href: "#"} Terms
          %a{href: "#"} Contact us
          %a{href: "#"} Suggestions
          %a{href: "#"} Scratchpad
          %a{href: "#"} Ionicons
          %a{href: "#"} Jobs
          %a{href: "#"} Forum
          %a{href: "#"} Blog
    .get-ionic-wrapper.viewed
      %a.get-ionic{href: "http://www.ionicframework.com", target: "_new"} Get building with Ionic today!
      %a.close-cta.ion-ios7-close-empty{href: "#"}

    =render "base_scripts"
    %script{src: '/js/main.js'}
