-render 'default' do
  .content.formula
    %nav
      %a.left{href: @items['/formulas/'].path}
        %i.ion-chevron-left
        %span{:style => "margin-left:-5px;"} All Formulass
    %article
      %header
        %h1=@item[:name]
        =author(@item[:author]).compiled_content
      ~ yield
      %section.scratchpad
        %p Try this tutorial out below in the Scratchpad:
        #scratch
      -if related_formulas.size > 0
        %footer
          %h6 further reading
          .similar-items.list
            - related_formulas.take(6).each_slice(2) do |a, b|
              .item-row
                .similar-item
                  %a{href: a.path}=a[:name]
                  %p=a[:description]
              -unless b.nil?
                .rule
                .similar-item
                  %a{href: b.path}=b[:name]
                  %p=b[:description]
    -content_for :javascripts do
      :javascript
        $(function() {
          var getTemplate = function(url) {
            return $.ajax({url: location.pathname + '/' + url, dataType: 'text'})
          }

          $.when(getTemplate('template.html'), getTemplate('style.css'), getTemplate('script.js')).then(function(html, css, js) {
            var scratch = new IonicScratch({
              el: document.getElementById('scratch'),
              width: '100%',
              height: '600px',
              html: html[0],
              css: css[0],
              js: js[0]
            });
          })
        })
