-render 'default' do
  .content.formula
    %nav
      %a.left{href: @items['/formulas/'].path}
        %i.ion-chevron-left
        %span{:style => "margin-left:-5px;"} All Formulas
      %a.right.scratchpad-share{href: "/scratchpad",target: "_blank"}
        %span Open Scratchpad
        %i.ion-share
    %article
      %header
        %h1=@item[:title]
        =author(@item[:author]).compiled_content
      ~ yield
      %section.scratchpad
        %p try this tutorial out below in the Scratchpad:
        %img{src: "http://placehold.it/750x500"}/
      %footer
        %h6 further reading
        .similar-items.list
          - related_formulas.take(6).each_slice(2) do |a, b|
            .item-row
              .similar-item
                %a{href: a.path}=a[:title]
                %p=a[:description]
              .rule
              .similar-item
                %a{href: b.path}=b[:title]
                %p=b[:description]
