-render 'default' do
  .content.formula
    %nav
      %a.left{href: @items['/formulas/'].path}
        %i.ion-chevron-left
        %span{:style => "margin-left:0px;"} All Formulas
    %article
      %header
        %h1=@item[:name]
        =author(@item[:author]).compiled_content
        %div.social-buttons
          -if @item[:tweet]
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="#{@item[:tweet]}" data-via="ionicframework" data-related="ionicframework">Tweet</a>
          -else
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="ionicframework" data-related="ionicframework">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      ~ yield
      -unless @item[:scratchpad] == false
        %section.scratchpad
          %p Try this tutorial out below in the Scratchpad:
          #scratch
      -if related_formulas.size > 0
        %footer
          %h6 further reading
          .similar-items.list
            - related_formulas.take(6).each_slice(2) do |a, b|
              .item-row
                .similar-item
                  %a{href: a.path}=a[:name]
                  %p=a[:description]
                -unless b.nil?
                  .rule
                  .similar-item
                    %a{href: b.path}=b[:name]
                    %p=b[:description]

    -if @item[:comments] == true
      <div id="disqus_thread"></div>
      :javascript
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'ioniclearn'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();

    -unless @item[:scratchpad] == false
      -content_for :javascripts do
        :javascript
          $(function() {
            var getTemplate = function(url) {
              return $.ajax({url: location.pathname + '/' + url, dataType: 'text'})
            }

            $.when(getTemplate('template.html'), getTemplate('style.css'), getTemplate('script.js')).then(function(html, css, js) {
              var scratch = new IonicScratch({
                el: document.getElementById('scratch'),
                width: '100%',
                height: '600px',
                html: html[0],
                css: css[0],
                js: js[0]
              });
            })
          })
