.logo
  %a{href: "/"}
    %img{alt: "Learn Ionic Framework", height: "43", src: "/img/learn-ionicframework@2x.png", width: "194"}
%nav
  %ul
    %li
      %a{href: @items['/videos/'].path, class: active_class?('videos')}
        %i.ion-videos
        %p Videos
    %li
      %a{href: @items['/formulas/'].path, class: active_class?('formulas')}
        %i.ion-formulas
        %p Formulas
    %li
      %a{href: "/scratchpad/"}
        %i.ion-scratchpad
        %p Scratchpad
    %li
      %a{href: "/resources/", class: active_class?('resources')}
        %i.ion-resources
        %p Resources
  %footer
    %ul
      %li
        %a{href: "https://github.com/driftyco/ionic-learn/issues/new"}
          %i.ion-suggestions
          %p Suggest a Topic
      %li
        %a{href: "http://forum.ionicframework.com/"}
          %i.ion-forum
          %p Forums
      %li
        %a{href: "https://github.com/driftyco/ionic"}
          %i.ion-github
          %p GitHub
      %li
        %a{href: "https://twitter.com/ionicframework"}
          %i.ion-twitter
          %p Twitter
      %li
        %a{href: "https://plus.google.com/+Ionicframework/posts"}
          %i.ion-googleplus
          %p Plus
