.logo
  %a{href: "/"}
    %img{alt: "Learn Ionic Framework", height: "43", src: "/img/learn-ionicframework@2x.png", width: "194"}
%nav
  %ul
    %li
      %a{href: @items['/videos/'].path, class: active_class?('videos')}
        %i.ion-videos
        %p Videos
    %li
      %a{href: @items['/formulas/'].path, class: active_class?('formulas')}
        %i.ion-formulas
        %p Formulas
    %li
      %a{href: "/resources/", class: active_class?('resources')}
        %i.ion-resources
        %p Resources
  %footer
    %ul
      %li
        %a{href: "https://github.com/driftyco/ionic-learn/issues/new", target: "_new"}
          %i.ion-suggestions
          %p Suggest a Topic
      %li
        %a{href: "http://forum.ionicframework.com/", target: "_new"}
          %i.ion-forum
          %p Forums
      %li
        %a{href: "https://github.com/driftyco/ionic", target: "_new"}
          %i.ion-github
          %p Github
      %li
        %a{href: "https://twitter.com/ionicframework", target: "_new"}
          %i.ion-twitter
          %p Twitter
      %li
        %a{href: "https://plus.google.com/+Ionicframework/posts", target: "_new"}
          %i.ion-googleplus
          %p Plus
  %form.email-digest{method: 'post', action: 'http://codiqa.createsend.com/t/t/s/thodi/'}
    %label{for: 'cm-thodi-thodi'}
      %p Sign up for the weekly Learn Digest!
    .digest-wrapper
      %input{type: 'email', placeholder: 'Email address', name: 'cm-thodi-thodi', required: true}
      %input{type: 'submit', value: 'Go'}
  .email-digest-success
    %p Thanks for signing up. Soon you'll hear from us on all of the new and exciting lessons on Ionic Learn!
