- render 'default' do
  .content.video
    %nav
      %a.left{href: @items['/videos/'].path}
        %i.ion-chevron-left
        All Videos
      %a.right.scratchpad-share{href: "/scratchpad"}
        Open Scratchpad
        %i.ion-share
    %article
      %header
        %h1=@item[:name]
        =render "byline"
      %iframe{allowfullscreen: "", frameborder: "0", height: "505", src: @item[:embed_code], width: "847"}
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", href: "#details"} Details
        %li
          %a{"data-toggle" => "tab", href: "#transcript"} Transcript
        %li
          %a{"data-toggle" => "tab", href: "#similar-videos"} Similar Videos
        %li
          %a{"data-toggle" => "tab", href: "#scratchpad"} Scratchpad
      .tab-content
        #details.tab-pane.active=@items[@item[:details]].compiled_content
        #transcript.tab-pane=@items[@item[:transcript]].compiled_content
        #similar-videos.tab-pane
        #scratchpad.tab-pane
