- render 'default' do
  .content.video
    %nav
      %a.left{href: @items['/videos/'].path}
        %i.ion-chevron-left
        %span{:style => "margin-left:-5px;"} All Videos
    %article
      %header
        %h1=@item[:name]
        =author(@item[:author]).compiled_content
        %p.description=@item[:description]
      %iframe{allowfullscreen: "", frameborder: "0", height: "505", src: @item[:embed_code], width: "847"}
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", href: "#details"} Details
        %li
          %a{"data-toggle" => "tab", href: "#transcript"} Transcript
        %li
          %a{"data-toggle" => "tab", href: "#similar-videos"} Similar Videos
        -if @item[:scratchpad] == true
          %li
            %a{"data-toggle" => "tab", href: "#scratchpad"} Scratchpad
      .tab-content
        #details.tab-pane.active=@items[@item[:details]].compiled_content
        #transcript.tab-pane
          %article=@items[@item[:transcript]].compiled_content
        #similar-videos.tab-pane
          .similar-items.list
            - related_videos.take(6).each_slice(2) do |a, b|
              .item-row
                .similar-item
                  %a{href: a.path}=a[:name]
                  %p=a[:description]
                -unless b.nil?
                  .rule
                  .similar-item
                    %a{href: b.path}=b[:name]
                    %p=b[:description]
        -if @item[:scratcpad] == true
          #scratchpad.tab-pane
