$ionicBlue: #eef5ff;
$ionicWashedBlue: #ebf0f6;
$ionicDarkBlue: #4d8df7;
$ruleColor: #ECF0F6;

$uppercaseTitleColor: #AAA;

$darkLinkText: #8c9ba1;
$difficulties: (
  beginner: #70cd53,
  intermediate: #f6ba4e,
  advanced: #e63b3a
);
