@import "variables";
@import "bootstrap/bootstrap";
@import "fonts";
@import "type";
@import "syntax";
@import "mixins";
@import "ionic/ionicons";

html {
  font-family: $font-family-regular;
}
h1 {
  font-size: 40px;
  letter-spacing: -0.03em;
  color: #292d32;
}
p {
  font-weight: 200;
}

.container { 
  margin-top: 40px;
  > .row {
    margin-bottom: 100px;
  }
}

.main-pane {
  @include make-sm-column(8);
  @include make-lg-column(11);
  @include make-md-column(9);
}

.cta-sub {
  font-weight: normal;
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.03em;
  font-size: 20px;
  color: #677181;
  line-height: 32px;
  margin-bottom: 62px;
}

a {
  color: #4f8ef7;
  text-decoration: none;
  transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}
a:hover, a:focus {
  color: #74A8FF; 
}
a:focus {
  outline: none; 
}

ul {
  list-style-type: none;
  padding: 0;
}

header.cover {
  margin-bottom: 50px;
  img { @include size(100%, auto); }
}

.recent {
  h2 { 
    color: #292D32;
    margin-top: 80px;
    @include horizontal-rule(20px, 5px, #ECF0F6, bottom); 
  }
}

.difficulty {
  margin-left: 10px;
  margin-bottom: 1px;
  @include circle(5px);
  @each $difficulty, $bgcolor in $difficulties {
    &.#{$difficulty} { background: $bgcolor; }
  }
}

.list .item {
  border-top: 1px solid $ruleColor;
  padding: 20px 0;
  &.hide-top-separator:first-child {
    border-top: none;
  }

  h3 {
  color: #292d32;
  font-size: 18px;
  margin-bottom: 4px;

    a {
      color: #292d32;
    } 
    a:hover, a:focus {
    color: #4f8ef7 !important; 
    }

  }

  .preview {
    float: left;
    padding: 0px 15px;
  }

  .summary {
    /* @include make-sm-column(10); */
    float: left;
    width: 86%;

    .subhead {
      font-size: 11px;
      color: #AAB0BA;
      font-style: italic;
      margin-bottom: 15px;
    }

    .description {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #798291;
      line-height: 24px;
    }

  }
}

.formulas, .videos {
  .description {
    p {
      font-size: 14px;
    }
  }
  > footer {
    margin-bottom: 60px;
    &:last-of-type {
      margin-bottom: 0;
    }
    a {
      background-color: #F2F6FA;
      padding: 10px;
      margin: 20px 0 0;
      color: #9CB1D4;
      display: flex;
      justify-content: space-between;
      i {
        line-height: 22px;
      }
      &:hover {
        color: $ionicDarkBlue;
      }
    }
  }
}

.get-ionic-wrapper {
  position: fixed;
  bottom: 70px;
  left: 0;
  padding: 10px 0;
  opacity: 0.9;
  margin-left: 15px;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  &:hover {
    opacity: 1;
  }
  &.viewed {
    opacity: 0;
  }
  .get-ionic {
    font-family: "AvenirNextLTPro-Regular";
    padding: 14px 12px;
    background: $ionicBlue;
    border: 1px solid darken($ionicWashedBlue, 10%);
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
    &:hover {
      border-color: #4e8ef7;
      box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
      -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
      -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
      color: #3472D6;
    }
    &:active {
      box-shadow: 0px 1px 1px rgba(0,0,0,0), inset 0px 1px 1px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0), inset 0px 1px 1px rgba(0,0,0,0.15);
      -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0), inset 0px 1px 1px rgba(0,0,0,0.15);
      background: #D9E4F5;
    }
  }
  .close-cta {
    background: white;
    display: inline-block;
    position: absolute;
    right: -10px;
    top: -7px;
    width: 21px;
    height: 21px;
    border-radius: 12px;
    border: 1px solid darken($ionicWashedBlue, 10%);
    transition: all 0.3s linear;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
    &:hover {
      border-color: $ionicDarkBlue;
      &:before {
        color: $ionicDarkBlue;
      }
    }
    &:before {
      font-size: 24px;
      margin-left: 5px;
      line-height: 19px;
    }
  }
}

footer.main {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .attribution {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 12px;
    margin-right: 100px; 
    color: darken($ruleColor, 10%);
  }
  .expand-wrapper {
    .expand {
      @include circle(3px);
      background-color: #C9D5E6;
      display: inline-block;
      position: relative;
      cursor: pointer;
      margin-bottom: 2px;
      &:hover, &.expanded {
        background-color: $ionicDarkBlue;
        &:before, &:after { background-color: $ionicDarkBlue; }
      }
      &:before, &:after {
        position: absolute;
        content: "";
        @include circle(3px);
        background-color: #C9D5E6;
        display: inline-block;
      }
      &:before {
        bottom: 0;
        left: -8px;
      }
      &:after {
        bottom: 0;
        right: -8px;
      }
    }
  }
  nav {
    font-family: "AvenirNextLTPro-Regular";
    display: inline-block;
    margin-left: 85px;
    opacity: 0;
    &.expanded {
      opacity: 1;
    }
    a {
      margin-right: 40px;
      font-size: 13px;
      color: lighten($ionicDarkBlue, 20%);
      &:hover {
        color: #4e8ef7;
      }
    }
  }
}

.video {
  article {
    h1 {
      font-size: 26px;
    }
  }
  .nav-tabs {
    margin: 40px 0 25px;
    border-bottom: 1px solid $ruleColor;
    li {
      a { 
        font-size: 18px;
        color: darken($ruleColor, 5%); 
        padding: 10px 0;
        margin-right: 60px;
        border: none;
        border-bottom: 1px solid $ruleColor;
        &:hover {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $ionicDarkBlue;
          color: $ionicDarkBlue;
          border-radius: none;
        }
      }
      &.active {
        a {
          color: $ionicDarkBlue;
          border: none;
          border-bottom: 1px solid $ionicDarkBlue;
        }
      }
    }
  }
}

@import "navigation";
@import "formula";
@import "resource";
